.HelpButton {
  padding: 6px 36px; 
  margin: 12px 6px; 
  line-height: 24px; 
  border: var(--box-border);
  box-shadow: var(--box-shadow); 
  border-radius: var(--border-radius);
  cursor: pointer; 
  color: rgba(0, 0, 0, 0.8); 
  text-transform: uppercase; 
  font-weight: bold; 
  font-size: 12px; 
  background: linear-gradient(rgb(255, 255, 255) 25%, rgb(245, 245, 245) 100%); 
  position: relative; 
}


.HelpButton:hover {
  background: rgb(245, 245, 245); 
}


.HelpButton:active {
  background: rgba(220, 220, 220); 
}


.tooltip {
  visibility: hidden;
  background-color: #333;
  color: white;
  opacity: 0; 
  width: 180px; 
  margin-top: 36px; 
  margin-left: -90px; 
  position: absolute; 
  z-index: 100; 
  text-transform: none;
  font-size: 13px;
  border-radius: 4px; 
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  line-height: 18px; 
  padding: 6px 12px; 
  transition: opacity 0.5s; 
  font-weight: normal; 
  text-align: left; 
}


.HelpButton:hover .tooltip {
  visibility: visible; 
  opacity: 1; 
  transition: opacity 0.5s; 
}


.HelpButton:disabled {
  color: rgba(0, 0, 0, 0.25); 
  cursor: default; 
}
